:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    
    --darkMainBG: hsl(217, 54%, 11%);
    --darkBluecardBG: hsl(216, 50%, 16%);
    --darkBlueline: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --font: 'Outfit', sans-serif;
    
}


hmtl {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px; 1rem*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

p {
    font-family: var(--font);
    color: var(--softBlue);
}

body {
    background-color: var(--darkMainBG);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 19rem;
    height: 34rem;
    background-color: var(--darkBluecardBG);
    box-shadow: -4px 10px 20px 2px rgba(0,0,0,0.75);
    border-radius: 0.7rem;
}

.card-image {
    width: 17rem;
    padding: 1rem;
    border-radius: 1.5rem;

}

.container h1 {
    color: var(--white);
    font-family: var(--font);
    font-weight: 700;
    padding-left: 1rem;
    margin-top: 0rem;
    font-size: 1.5rem
}

.container h1:hover {
    color: var(--cyan);
}

.card-info {
    color: var(--softBlue);
    font-family: var(--font);
    font-weight: 300;
    padding-left: 1rem;
    
}


.card-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: var(--darkBlueline);
    border-width: .1rem;
    margin: 0rem 1rem;
}


.card-ethereum {
    color: var(--cyan);
}


.card-price {
    display: flex;
    align-items: center;
    font-family: var(--font);
    gap: .4rem;
}


.card-footer {
    display: flex;
    align-items: center;
    
}

.card-footer img {
    width: 2.2rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 50%;
}

.card-footer span {
    color: var(--white);
}

.card-footer span:hover {
    color: var(--cyan);
}

